/**
 * This stylesheet contains the styles for the Moodle Compviz block.
 *
 * It includes styles for layout, colors, fonts, and other visual elements
 * to ensure a consistent and visually appealing design.
 * 
 * More information: https://moodledev.io/docs/4.5/apis/commonfiles#stylescss
 *                   https://moodledev.io/general/community/plugincontribution/checklist#css-styles
 *
 * @copyright 2025 
 */

/* Prevents the bottom frame line in the student settings */
[id^="id_user_settings_"] {
    border-bottom: 0 !important;
}

/* Tooltip adjustments to display full tooltip content without line breaks */
.bs-tooltip-left>.tooltip-inner {
    max-width: fit-content !important;
}

/* make block settings icon for students more visible */
.editing_usersettings {
    font-size: x-large;
    color: black;
}

/* Progress bar styles */

.pb {
    /* sensible defaults (overridden by inline styles in templates) */
    --pb-progress: 60%;
    --pb-fill-color: #22c55e;

    /* auto-color helpers */
    --dark-luminance: 10;
    --light-luminance: 95;

    /* fallback for older browsers */
    --auto-color: black;
    --pb-text-color: var(--pb-fill-color);

    /* calculate some colors for color magic */
    /* credits to https://specy.app/blog/posts/automatic-text-color-from-background */
    --pb-text-color: lch(from var(--pb-fill-color) clamp(0, l, 70) c h);
    --auto-color: lch(from var(--pb-fill-color) clamp(var(--dark-luminance), round((100 - l), 100), var(--light-luminance)) 0 0);
}

.pb.pb-bar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    border-radius: 9px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    overflow: hidden;
    color: var(--pb-text-color);
}

.pb.pb-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    width: var(--pb-progress);
    background: var(--pb-fill-color);
}

.pb .pb-text {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pb .pb-text a {
    color: inherit;
}

.pb .skill-toggle {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pb .skill-toggle::before {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

/* turn arrow when open */

details:open .skill-toggle::before,
details:open .skill-toggle::after {
    content: "▲";
}

/* text color magic */
.pb .pb-text::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    mix-blend-mode: normal;
    clip-path: inset(0 calc(100% - var(--pb-progress)) 0 0);
    color: var(--auto-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pb .skill-toggle::after {
    content: "▼";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    background: linear-gradient(90deg, var(--auto-color, black) var(--pb-progress), transparent calc(var(--pb-progress)));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* our custom styles for the color picker */
.bccolorpicker {
    min-width: 50px;
    width: auto;
    max-width: 100%;
}

/* style for the color preview boxes in the color picker */
.color-preview-box {
    --bg-color: #ffffff;
    --auto-color: lch(from var(--bg-color) clamp(10, round((100 - l), 100), 95) 0 0);
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--bg-color);
    color: var(--auto-color, black);
    text-align: end;
}