/**
 * This stylesheet contains the styles for the Moodle Compviz block.
 *
 * It includes styles for layout, colors, fonts, and other visual elements
 * to ensure a consistent and visually appealing design.
 * 
 * More information: https://moodledev.io/docs/4.5/apis/commonfiles#stylescss
 *                   https://moodledev.io/general/community/plugincontribution/checklist#css-styles
 *
 * @copyright 2025 
 */
.skill-name,
.sub-skill-name {
    font-size: 12px;
    word-break: break-word;
    text-align: center;
    padding-left: 5px;
    font-weight: bold;
}
.skill-name {
    padding-right: 35px; /* <<< Platz für den Pfeil rechts */
}

.auto-color {
    /* credits to https://specy.app/blog/posts/automatic-text-color-from-background */
    --dark-luminance: 8;
    --light-luminance: 95;
    /*background: var(--bg);*/
    color: lch(from var(--bg) clamp(var(--dark-luminance),round((100 - l), 100),var(--light-luminance)) 0 0);
}

/* Pfeil zum Ein- und Ausklappen der Unterfähigkeiten */
details:open span.skill-toggle {
    transform: rotate(180deg);
}

details:not(:open) span.skill-toggle {
    transform: rotate(0deg);
}

.skill-toggle {
    font-size: 12px;
    cursor: pointer;
    right: 10px;
    color: black;
}